<h1>Ver todos los restaurantes:</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<%= link_to "Crear nuevo restaurante", new_restaurant_path %>